@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-text-main: 68 68 68; /* #444444 */
        --color-bg-main:  	229	238	243; /* #e5eef3 */
        --color-bg-muted: 205 205 197; /* #cdccc5 */
        --color-border-main: 12 61 95; /* #0c3d5f */
    }
    html.dark {
        --color-text-main: 197 197 193; /* #c5c5c1 */
        --color-bg-main: 30 30 30; /* #1e1e1e */
        --color-bg-muted: 23 62	5; /* #242424 */
        --color-border-main: 197 197 193; /* #c5c5c1 */
    }
    .hidden {
        display: none;
      }
      

    /* Cyan */
    /*
    :root {
        --color-text-main: 22 42 43;
        --color-bg-main: 214 224 226;
        --color-bg-muted: 204 216 219;
        --color-border-main: 22 42 43;
    }
    html.dark {
        --color-text-main: 214 224 226;
        --color-bg-main: 22 42 43;
        --color-bg-muted: 28 53 55;
        --color-border-main: 214 224 226;
    }
    */

    /* Green */
    /*
    :root {
        --color-text-main: 58 66 56;
        --color-bg-main: 243 239 230;
        --color-bg-muted: 238 233 220;
        --color-border-main: 58 66 56;
    }
    html.dark {
        --color-text-main: 243 239 230;
        --color-bg-main: 94 108 91;
        --color-bg-muted: 89 103 86;
        --color-border-main: 243 239 230;
    }
    */
}
