---
import siteConfig from '../data/site-config';
import TT from '../components/ThemeToggle.astro';
import NavLink from '../components/NavLink.astro';
const primaryNavLinks = siteConfig.primaryNavLinks || [];
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from 'astro-navbar';
---

<section class="flex justify-between items-center container">
    <TT />

    <Astronav>
        <div class="flex p-4 backdrop-filter backdrop-blur-sm bg-opacity-30 z-10 w-full justify-between">
            <a>Your Logo</a>
            <div class="block lg:hidden">
                <MenuIcon class="w-5 h-5" />
            </div>
        </div>
        <MenuItems class="lg:flex hidden">
            <ul class="flex flex-row rounded px-1 lg:flex-row lg:gap-5 bg-gray-300 bg-opacity-30 text-black-400">
                <li class="inline-flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300">
                    <a href="/fa/">Home</a>
                </li>
                <li class="inline-flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300"><a href="/fa/projects">Projects</a></li>
                <li class="inline-flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300"><a href="/fa/blog">Blog</a></li>
                <li class="inline-flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300"><a href="/fa/about">About</a></li>
                <li></li>
            </ul>
        </MenuItems>
    </Astronav>
</section>
