---
import siteConfig from '../data/site-config';
import TT from '../components/ThemeToggle.astro';
import NavLink from '../components/NavLink.astro';
const primaryNavLinks = siteConfig.primaryNavLinks || [];
import { Astronav, MenuItems, MenuIcon, Dropdown, DropdownItems } from 'astro-navbar';
---

<section class="flex justify-between items-center relative h-100 w-100">
    <Astronav>
        <div class="flex p-4 backdrop-filter backdrop-blur-30 z-10 w-full justify-between"></div>
        <div class="lg:hidden pr-2 pt-2">
            <MenuIcon class="w-7 h-7" />
        </div>
        <MenuItems class="absolute lg:flex hidden pl-11 top-1 right-8 opacity-80">
            <div class="inset-0 border border-orange-400 mr-14 mx-2 mt-2 rounded">
                <ul class="flex flex-col rounded px-1 md:flex-row lg:gap-5 bg-sky-100 text-black font-medium">
                    <TT />
                    <li class="inline-flex px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300">
                        <a href="/fa/">Home</a>
                    </li>
                    <li class="px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300"><a href="/fa/projects">Projects</a></li>
                    <li class="px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300"><a href="/fa/blog">Blog</a></li>
                    <li class="px-3 py-2 transition hover:text-teal-500 dark:hover:text-teal-300">
                        <a href="/fa/about">About &nbsp; </a>
                    </li>
                </ul><div class="absolute bottom-0 right-6"><TT /></div>
            </div>
        </MenuItems>
    </Astronav>
</section>
