---
import { ViewTransitions } from 'astro:transitions';
import BaseHead, { type Props as HeadProps } from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from '../components/Nav.astro';
import Card from '../components/Card.astro';
import TG from '../components/ThemeToggle.astro';

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
---

<!doctype html>
<html lang="en" class="antialiased break-words">
    <head>
        <BaseHead {...head} />
        <script>
            if (localStorage.theme === 'dark') {
                document.documentElement.classList.add('dark');
            }
        </script>

        <ViewTransitions />
    </head>

    <body class="bg-main text-main">
        <Header />
        <main class="flex flex-col min-h-screen md:px-8 pl-2 pr-2">
            <main class="grow w-full max-w-4xl mx-auto">
                <slot />
            </main>

            <Footer />
        </main>
    </body>
</html>
